<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.new_coronavirus_report.dao.TeacherQuestionnaireDao">
    <!--==================================基本查询============================-->

    <insert id="save"  useGeneratedKeys="true" keyProperty="id">
          insert into teacher_questionnaire(id,name,workType,myHealth,myfamilyHealth,touchHuBeiPerson,confirmIll,intro,ip,createTime)
          values(null,#{name},#{workType},#{myHealth},#{myfamilyHealth},#{touchHuBeiPerson},#{confirmIll},#{intro},#{ip},now())
    </insert>

</mapper>